@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #282c34;
    font-family: -apple-system, BlinkMacSystemFont, "Merriweather", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
color: #ffffff;
font-family: "Lustria", Sans-serif;
font-size: 55px;
font-weight: 900;
text-shadow: 0px 0px 45px rgba(255, 255, 255, 0.3);
}